<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palacealpha01.GameFramework.palace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon"
        android:label="Palace"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
             External Citation
             Date: 26 November 2019
             Problem: Game malfunctioned in portrait orientation
             Resource:
             https://android.jlelse.eu/handling-orientation-changes-in-android-7072958c442a
             Solution: I used the example code from this post.
        -->
        <activity android:name="com.example.palacealpha01.GameFramework.palace.PalaceMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>